@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700');

.imgAlok {
  height: 180px;
  width: 70px;
}

.fix-container {
  margin: 100px auto;
  max-width: 1100px;
  width: 100%;
  background: #0f3f79;
  display: flex;
  flex-flow: row wrap;
}

.fix-container>* {
  flex: 1 100%;
  text-align: center;
}

.fix-items:nth-child(1) {
  background: rgba(0, 255, 255, 0.05);
}

.fix-items:nth-child(2) {
  background: rgba(255, 0, 0, 0.05);
}

.fix-items:nth-child(3) {
  background: rgba(0, 255, 0, 0.05);
}

@media all and (min-width: 900px) {
  .fix-items {
    flex: 1 auto;
  }
}

@media only screen and (max-width: 600px) {
  .fix-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.fix-columns {
  display: inline-flex;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 5px;
}

.fix-separator {
  border-top: 1px dotted rgba(255, 255, 255, 0.3);
  width: 100%
}

.fix-name {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  position: relative;
  top: -6px;
}

.fix-team-l {
  padding-right: 5px;
}

.fix-team-l::after {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  content: ":";
  color: #ffffff;
  font-size: 28px;
  line-height: 0;
  top: -2px;
  position: relative;
  margin-left: 5px;
}

.fix-team-r {
  padding-left: 2px;
}

.fix-team-r .flag-icon, .fix-team-l .flag-icon {
  position: relative;
  top: -4px;
}

.fix-score {
  font-weight: 700;
  font-size: 17.5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fafafa;
  position: relative;
  padding: 0 10px;
  top: -5px;
}

.fix-time {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  display: inline-flex;
  margin-bottom: -5px;
}

.fix-hour {
  font-weight: 100;
  font-size: 36px;
}

.fix-text::after {
  content: "";
  position: absolute;
  height: 18px;
  border-left: 1px dotted rgba(255, 255, 255, 0.3);
  top: 17px;
  margin-left: -10px;
}

.fix-text {
  display: inline-grid;
  margin-left: 20px;
  position: relative;
  min-width: 48px;
}

.fix-text span:first-child {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  top: 10px;
}

.fix-text span:last-child {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 25px;
}
