header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
    background-color: rgb(8, 14, 8);
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}


.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav {
    display: flex; /* Establece enlaces se en una fila */
    align-items: center; /* Centra los enlaces verticalmente dentro del nav */
    gap: 40px; /* Establece el espacio entre los enlaces */
}

nav a {
    font-weight: 600; /* No era en px */
    padding-right: 40px;
}
.nav-link {
    color: rgb(67, 67, 48);
}
nav a.nav-link:hover {
    color: rgb(254, 244, 66);
}

nav a:last-child {
    color: rgb(231, 247, 89);
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .nav-link {
        padding: 10px 15px;
    }
}
