
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgba(235, 244, 155, 0.693);

}
/*Banner*/
.carousel-item img {
  max-width: 100%; /* Mantener el ancho original */
  max-height: 650px; /* Establecer una altura máxima */
  width: auto; /* Permitir que el ancho se ajuste automáticamente */
  height: auto; /* Permitir que la altura se ajuste automáticamente */
}


/*Animación */
.favs {
  display: flex;
  max-width: 280px;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.96);
  animation-name: cambiarColor;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes cambiarColor {
  0% {
       background-color: rgb(233, 249, 218);   /*color1*/
  }  
  50% {
       background-color: #b7c2bb;   /*color2 */
  }  
  100% {
       background-color: rgb(157, 157, 157);   /*color3 */
  }  
}
/* Tarjetas de Jugador */
.card-custom {
  display: flex;
  max-width: 280px;
  justify-content: center;
  align-self: center;
}

/* Etiquetas de Jugador */
.jugador-tag {
  display: inline-block;
  font-size: 12px;
  padding: 4px;
  border-radius: 20%;
}
.jugador-tag1 {
  background-color: #fffb079d;
}
.jugador-tag2 {
  background-color: #4cb8b57d;
  color: #fff;
}
.jugador-tag3 {
  background-color: #2989e96e;
  color: #fff;
}
.jugador-tag4 {
  background-color: #de36475b;
  color: #fff;
}

/* Imágenes */
.img1 {
  width: 50vw;
  height: auto;
  object-fit: cover;
}
@media (max-width: 991px) {
  .img1 {
      width: 100vw;
  }
}

/* Formulario de Contacto */
.contacto-formulario {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
}
.contacto-formulario h5,
.contacto-formulario h2,
.contacto-formulario h6 {
  color: #333;
}
.contacto-formulario label {
  color: #555;
}
.contacto-formulario input[type="text"],
.contacto-formulario input[type="email"],
.contacto-formulario textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px;
}
.contacto-formulario button[type="submit"] {
  background-color: #28a745;
  border: none;
}
.contacto-formulario button[type="submit"]:hover {
  background-color: #218838;
}

/* Footer */
footer a {
  text-decoration: none;
  color: rgb(239, 205, 33); 
}